<html>
<head>
<title>My first chart using FusionCharts Suite XT</title>
<!-- Include fusioncharts core library -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<!-- Include fusion theme -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
<script type="text/javascript">
    var data = JSON.parse('{{ data | tojson | safe}}');
    var schema = JSON.parse('{{ schema | tojson | safe}}');
    const dataStore = new FusionCharts.DataStore();
    const dataSource = {
    chart: {},
    caption: {
      text: "Sales Analysis"
    },
    subcaption: {
      text: "Grocery & Footwear"
    },
    series: "Type",
    yaxis: [
      {
        plot: "Sales Value",
        title: "Sale Value",
        format: {
          prefix: "$"
        }
      }
    ]
  };
  dataSource.data = dataStore.createDataTable(data, schema);
    FusionCharts.ready(function() {
  var chart = new FusionCharts({
    type: 'timeseries',
    renderAt: 'chart-container',
    width: '700',
    height: '400',
    dataFormat: 'json',
    dataSource
  }).render();
});
</script>
</head>
<body>
    <div id="chart-container">FusionCharts XT will load here!</div>
</body>
</html>