{% extends "base_layout.html" %} {% block title %}Welcome{% endblock %} 
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/morris.css') }}">
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Card Name</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="chart-container" style="height:100%;">
                    <!-- Include fusioncharts core library -->
                    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
                    <!-- Include fusion theme -->
                    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
                    <script type="text/javascript">
                        var data = JSON.parse('{{ data | tojson | safe}}');
                        var schema = JSON.parse('{{ schema | tojson | safe}}');
                        const dataStore = new FusionCharts.DataStore();
                        const dataSource = {
                            caption: {
                                text: "Sales Analysis"
                            },
                            subcaption: {
                                text: "Grocery & Footwear"
                            },
                            series: "Type",
                            yaxis: [
                            {
                                plot: "Sales Value",
                                title: "Sales Value",
                                format: {
                                    prefix: "$"
                                }
                            }
                            ]
                        };
                        dataSource.data = dataStore.createDataTable(data, schema);
                            FusionCharts.ready(function() {
                        var chart = new FusionCharts({
                            type: 'timeseries',
                            renderAt: 'chart-container',
                            width: '100%',//100% 700
                            height: '350%',//300% 400
                            dataFormat: 'json',
                            dataSource: dataSource,
                        });
                        chart.render();
                        
                        });
                    </script>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ url_for('serveStaticResource', resource='js/raphael-min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris.min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris-data.js')}}"></script>
    <!-- mtg data chart -->
{% endblock %}