{% extends "base_layout.html" %} {% block title %}Welcome{% endblock %} 
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/morris.css') }}">
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Snow Covered Island</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="chart-container-stock" style="height:100%;">
                    <!-- Include fusioncharts core library -->
                    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
                    <!-- Include fusion theme -->
                    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
                    <script type="text/javascript">
                        var data = JSON.parse('{{ data_stock | tojson | safe}}');
                        var schema = JSON.parse('{{ schema_stock | tojson | safe}}');
                        const data_store_stock = new FusionCharts.DataStore();
                        const data_source_stock = {
                            caption: {
                                text: "Card Stock"
                            },
                            subcaption: {
                                text: "by Card Condition"
                            },
                            series: "Card Condition",
                            yaxis: [
                            {
                                plot: "Stock Value",
                                title: "Stock Value",
                                format: {
                                    prefix: ""
                                }
                            }
                            ]
                        };
                        data_source_stock.data = data_store_stock.createDataTable(data, schema);
                            FusionCharts.ready(function() {
                        var chart = new FusionCharts({
                            type: 'timeseries',
                            renderAt: 'chart-container-stock',
                            width: '100%',//100% 700
                            height: '350%',//300% 400
                            dataFormat: 'json',
                            dataSource: data_source_stock,
                        });
                        chart.render();
                        
                        });
                    </script>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ url_for('serveStaticResource', resource='js/raphael-min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris.min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris-data.js')}}"></script>
    <!-- mtg data chart -->
{% endblock %}